.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    flex-direction: column;
  }
  
  .addButton {
    display: inline-block;
    margin-bottom: 20px;
    padding: 10px 15px;
    background: #3498db;
    color: #fff;
    text-decoration: none;
    border-radius: 4px;
    font-size: 14px;
    width: max-content;;
  }
  
  .addButton:hover {
    background: #2980b9;
  }